<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>The winner is:</h1>
        <div>

            <h2>{{ results }}</h2>
            <a href="/"><button>See scores!</button></a>

        </div>
    </body>
</html>
